<h1>Welcome to CSE Motors!</h1>
<img src="../public/images/vehicles/delorean-tn.jpg" id="hero-img">
<div id="hero-card">
    <h2>DMC Delorean</h2>
    <p>3 Cup Holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <button>Own Today</button>
</div>
<div id="upgrades">
    <div class="upgrade-card">
        
    </div>
</div>