@media only screen and (min-width: 768px) {
    body {
        background-image: url('/images/site/small_check.jpg');
    }

    #wrapper {
        background-color: white;
        width: 90%;
        height: 80%;
        padding: 10px;
        margin: 0 auto;
        border-radius: 15px;
        border: solid 5px #fb8500;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    
    #error-message {
        margin-top: 0;
        padding-top: 0;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        font-size: 1.3rem;
    }

    #hero {
        position: relative;
        width: 100%;
        height: 30%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    
    #upgrades {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
    }

    #reviews {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
    }

    #hero-img {
        width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
      
    #hero-card {
        position: absolute;
        top: 70%;
        left: 15%;
        background: rgba(255,255,255,0.9);
        width: 20%;
        height: auto;
    }
    
    #hero-card h2 {
        font-size: 2rem;
    }

    #hero-card p {
        font-size: 1.5rem;
    }

    #own-button {
        background-color: #fb8500;
        font-family: 'Work Sans';
        font-size: 1.2rem;
        font-weight: bolder;
        border: 1.5px solid;
        border-color: lightgray;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        padding: 7.5px;
        width: 13rem;
        height: 3rem;
    }

    #reviews ul li {
        font-size: 1.35rem;
    }

    #inv-display {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

}