@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


#top-header, footer, nav {
  font-family: 'Work Sans', sans-serif;
}

.siteName {
  font-size: 2rem;
  font-weight: bold;
}

#top-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.siteName {
  grid-column-start: 1;
  grid-column-end: 2;
}

#tools {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
}

body {
  font-family: Manrope;
}

nav ul {
  padding-top: 10px;
  background-color: #023047;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

nav {
  background-color: #023047;
  height: 2.5rem;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: white;
  color: #023047;
}

header a {
  text-decoration: none;
}

#hero {
  position: relative;
  width: 450px;
  height: 300px;
}

#hero-img {
  width: 100%;
  height: auto;
}

#hero-card {
  position: absolute;
  top: 30%;
  left: 0;
  background: rgba(255,255,255,0.9)
}

#hero-card h2, #hero-card p {
  color:#fb8500;
}

#hero-card p {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  font-weight: bold;
}

#hero-card h2 {
  margin-bottom: 5px;
}

#own-button {
  background-color: #fb8500;
  font-family: 'Work Sans';
  font-weight: bolder;
  border: 1.5px solid;
  border-color: lightgray;
  padding: 7.5px;
}

#reviews ul {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

#reviews h2 {
  margin-bottom: 5px;
}

#reviews ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.img-wrapper {
  background-color: #fb8500;
  width: 175px;
  height: 93px;
  border: 2px solid gray;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.img-upgrade {
  display: block;
  margin: 0 auto;
}

.upgrade-card {
  width: 175px;
  text-align: center;
  
}

#upgrades {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#upgrades h2 {
  margin-bottom: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

#cap {
  grid-column-start: 1;
  grid-column-end: 2;
}

#flame {
  grid-column-start: 2;
  grid-column-end: 3;
}

#bumper {
  grid-column-start: 1;
  grid-column-end: 2;
}

#hub {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Selecting car by model */
#inv-display {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-evenly;
}

#inv-display li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  border: 2px solid gray;
  border-radius: 5px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 250px;
}

#inv-display li #vehicle-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
}

#inv-display li a img {
  margin: 0 auto;
  padding: 5px auto;
  display: block;
  border-radius: 5px;
  width: auto;
  height: auto;
  object-fit: cover;
}

#inv-display h2 {
  font-size: 1rem;
  margin-bottom: 5px;
}

#inv-display hr {
  height: 5px;
  background-color: black;
}

.namePrice {
  max-width: 100%;
  text-align: center;
}


/*detail page*/
.vehicle-detail p {
  padding: 10px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.vehicle-detail p:nth-child(even) {
  background-color: #FFAE70 ;
}

.vehicle-detail img {
  max-width: 100%;
  padding: 15px;
}

footer {
  margin-top: 50px;
}


/* Forms login styling */
.login-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1rem;
}

[type="text"],
[type="email"],
[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 2px;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #03045e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 25px;
}

[type="submit"]:hover {
  background-color: #3a0ca3;
}

.login-container  {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 2.5px;
}

.signup-text {
  margin-top: 15px;
}

.signup-text a {
  color: #003f88;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* Register */ 
.register-container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register-container h3 {
  margin-bottom: 15px;
}

.register-container label {
  display: block;
  text-align: left;
  font-weight: bold;
}

#showpwd {
  width: 100%;
  padding: 10px;
  background-color: #03045e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 25px;
}

#showpwd:hover {
  background-color: #3a0ca3;
}